.whole{
  margin: 3% 14%;
  width: 70%;
  background-color: green;
  font-size: 30px;
}

.report {
  width: 45%;
  height: 90px;
  background-color: pink;
  text-align: center;
  padding: 30px;
  margin: auto;
  
}

.button {
  padding: 1% 45%;
}

.agree {
  text-align: center;
}